In [17]:
import pandas as pd
from itertools import product
import numpy as np
import scipy.stats as ss

In [3]:
df = pd.read_csv('Data.csv')
df.head()

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,4651,...,1,91,29.0,NaN,13,0,A,5,15,17115
1,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,6217,...,1,210,31.0,NaN,4,0,A,3,17,5074
2,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,4306,...,0,161,37.0,NaN,17,0,A,6,22,23137
3,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,6000,...,0,103,21.0,NaN,17,1,A+,3,27,22115
4,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,4740,...,1,112,25.0,2009.0,18,0,C,6,24,24071

In [4]:
cat_cols = [col for col in df.columns if df[col].dtypes == 'object']
cat_df = df[cat_cols]
cat_df = cat_df.drop(['Ware_house_ID', 'WH_Manager_ID'], axis=1)

In [5]:
cat_df

,Location_type,WH_capacity_size,zone,WH_regional_zone,wh_owner_type,approved_wh_govt_certificate
0,Urban,Small,West,Zone 6,Rented,A
1,Rural,Large,North,Zone 5,Company Owned,A
2,Rural,Mid,South,Zone 2,Company Owned,A
3,Rural,Mid,North,Zone 3,Rented,A+
4,Rural,Large,North,Zone 5,Company Owned,C
...,...,...,...,...,...,...
24995,Rural,Small,North,Zone 1,Rented,A
24996,Rural,Mid,West,Zone 2,Company Owned,B
24997,Urban,Large,South,Zone 5,Rented,B+
24998,Rural,Small,North,Zone 1,Rented,A
24999,Rural,Mid,West,Zone 4,Company Owned,B+

In [6]:
cat_df.isnull().sum()

Location_type                     0
WH_capacity_size                  0
zone                              0
WH_regional_zone                  0
wh_owner_type                     0
approved_wh_govt_certificate    908
dtype: int64

In [7]:
cat_df = cat_df.dropna(axis=0)

In [8]:
cat_var1 = ('Location_type', 'WH_capacity_size', 'zone', 'WH_regional_zone', 'wh_owner_type', 'approved_wh_govt_certificate')
cat_var2 = ('Location_type', 'WH_capacity_size', 'zone', 'WH_regional_zone', 'wh_owner_type', 'approved_wh_govt_certificate')

In [11]:
cat_var_prod = list(product(cat_var1,cat_var2, repeat = 1))
cat_var_prod

[('Location_type', 'Location_type'),
 ('Location_type', 'WH_capacity_size'),
 ('Location_type', 'zone'),
 ('Location_type', 'WH_regional_zone'),
 ('Location_type', 'wh_owner_type'),
 ('Location_type', 'approved_wh_govt_certificate'),
 ('WH_capacity_size', 'Location_type'),
 ('WH_capacity_size', 'WH_capacity_size'),
 ('WH_capacity_size', 'zone'),
 ('WH_capacity_size', 'WH_regional_zone'),
 ('WH_capacity_size', 'wh_owner_type'),
 ('WH_capacity_size', 'approved_wh_govt_certificate'),
 ('zone', 'Location_type'),
 ('zone', 'WH_capacity_size'),
 ('zone', 'zone'),
 ('zone', 'WH_regional_zone'),
 ('zone', 'wh_owner_type'),
 ('zone', 'approved_wh_govt_certificate'),
 ('WH_regional_zone', 'Location_type'),
 ('WH_regional_zone', 'WH_capacity_size'),
 ('WH_regional_zone', 'zone'),
 ('WH_regional_zone', 'WH_regional_zone'),
 ('WH_regional_zone', 'wh_owner_type'),
 ('WH_regional_zone', 'approved_wh_govt_certificate'),
 ('wh_owner_type', 'Location_type'),
 ('wh_owner_type', 'WH_capacity_size'),
 ('wh_owner_type', 'zone'),
 ('wh_owner_type', 'WH_regional_zone'),
 ('wh_owner_type', 'wh_owner_type'),
 ('wh_owner_type', 'approved_wh_govt_certificate'),
 ('approved_wh_govt_certificate', 'Location_type'),
 ('approved_wh_govt_certificate', 'WH_capacity_size'),
 ('approved_wh_govt_certificate', 'zone'),
 ('approved_wh_govt_certificate', 'WH_regional_zone'),
 ('approved_wh_govt_certificate', 'wh_owner_type'),
 ('approved_wh_govt_certificate', 'approved_wh_govt_certificate')]

In [14]:
result = []
for i in cat_var_prod:
    if i[0] != i[1]:
        result.append((i[0], i[1], list(ss.chi2_contingency(
                                        pd.crosstab(cat_df[i[0]], cat_df[i[1]])))[1]))
result

[('Location_type', 'WH_capacity_size', 0.10753273997164702),
 ('Location_type', 'zone', 0.1639289058884125),
 ('Location_type', 'WH_regional_zone', 0.21000622162196161),
 ('Location_type', 'wh_owner_type', 0.6199261840025831),
 ('Location_type', 'approved_wh_govt_certificate', 0.037208436025114415),
 ('WH_capacity_size', 'Location_type', 0.10753273997164702),
 ('WH_capacity_size', 'zone', 0.0),
 ('WH_capacity_size', 'WH_regional_zone', 0.0),
 ('WH_capacity_size', 'wh_owner_type', 0.9531338138654483),
 ('WH_capacity_size', 'approved_wh_govt_certificate', 0.6607053389212749),
 ('zone', 'Location_type', 0.1639289058884125),
 ('zone', 'WH_capacity_size', 0.0),
 ('zone', 'WH_regional_zone', 0.0),
 ('zone', 'wh_owner_type', 0.4515963577185166),
 ('zone', 'approved_wh_govt_certificate', 0.8171908642831687),
 ('WH_regional_zone', 'Location_type', 0.21000622162196161),
 ('WH_regional_zone', 'WH_capacity_size', 0.0),
 ('WH_regional_zone', 'zone', 0.0),
 ('WH_regional_zone', 'wh_owner_type', 0.6764569746865251),
 ('WH_regional_zone', 'approved_wh_govt_certificate', 0.41995229076977536),
 ('wh_owner_type', 'Location_type', 0.6199261840025831),
 ('wh_owner_type', 'WH_capacity_size', 0.9531338138654483),
 ('wh_owner_type', 'zone', 0.4515963577185166),
 ('wh_owner_type', 'WH_regional_zone', 0.6764569746865248),
 ('wh_owner_type', 'approved_wh_govt_certificate', 0.5037401121046394),
 ('approved_wh_govt_certificate', 'Location_type', 0.037208436025114415),
 ('approved_wh_govt_certificate', 'WH_capacity_size', 0.6607053389212749),
 ('approved_wh_govt_certificate', 'zone', 0.8171908642831686),
 ('approved_wh_govt_certificate', 'WH_regional_zone', 0.41995229076977486),
 ('approved_wh_govt_certificate', 'wh_owner_type', 0.5037401121046392)]

In [17]:
chi_test_output = pd.DataFrame(result, columns = ['var1', 'var2', 'coeff'])
chi_test_output.pivot(index='var1', columns='var2', values='coeff')

var2,Location_type,WH_capacity_size,WH_regional_zone,approved_wh_govt_certificate,wh_owner_type,zone
var1,,,,,,
Location_type,NaN,0.107533,0.210006,0.037208,0.619926,0.163929
WH_capacity_size,0.107533,NaN,0.000000,0.660705,0.953134,0.000000
WH_regional_zone,0.210006,0.000000,NaN,0.419952,0.676457,0.000000
approved_wh_govt_certificate,0.037208,0.660705,0.419952,NaN,0.503740,0.817191
wh_owner_type,0.619926,0.953134,0.676457,0.503740,NaN,0.451596
zone,0.163929,0.000000,0.000000,0.817191,0.451596,NaN

In [10]:
num_cols = [col for col in df.columns if df[col].dtypes in ['int32', 'int64', 'float64']]
num_df = df[num_cols]
num_df

,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,distributor_num,flood_impacted,flood_proof,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,3,1,2,4651,24,0,1,1,91,29.0,NaN,13,0,5,15,17115
1,0,0,4,6217,47,0,0,1,210,31.0,NaN,4,0,3,17,5074
2,1,0,4,4306,64,0,0,0,161,37.0,NaN,17,0,6,22,23137
3,7,4,2,6000,50,0,0,0,103,21.0,NaN,17,1,3,27,22115
4,3,1,2,4740,42,1,0,1,112,25.0,2009.0,18,0,6,24,24071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3,0,4,5390,19,0,0,1,142,34.0,2005.0,22,1,2,30,32093
24996,6,0,4,4490,57,0,0,1,130,28.0,2012.0,10,0,4,18,12114
24997,7,0,2,5403,31,1,0,1,147,NaN,NaN,23,0,5,25,27080
24998,1,0,2,10562,25,0,0,1,60,25.0,NaN,18,0,6,30,25093
24999,8,2,4,5664,21,0,1,1,239,39.0,2019.0,4,0,2,11,5058

In [26]:
def cramers_V(var1,var2) :
    crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) # Cross table building
    stat = ss.chi2_contingency(crosstab)[0] # Keeping of the test statistic of the Chi2 test
    print(ss.chi2_contingency(crosstab))
    print(stat)
    obs = np.sum(crosstab) # Number of observations
    mini = min(crosstab.shape)-1 # Take the minimum value between the columns and the rows of the cross table
    return (stat/(obs*mini))

In [27]:
rows= []

for var1 in cat_df:
    col = []
    for var2 in cat_df :
        cramers =cramers_V(cat_df[var1], cat_df[var2]) # Cramer's V test
        col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
    rows.append(col)
cramers_results = np.array(rows)
df = pd.DataFrame(cramers_results, columns = cat_df.columns, index =cat_df.columns)

(24079.11660350746, 0.0, 1, array([[20179.24626432,  1869.75373568],
       [ 1869.75373568,   173.24626432]]))
24079.11660350746
(4.459919839813938, 0.10753273997164702, 2, array([[8987.26465217, 8838.08704134, 4223.64830649],
       [ 832.73534783,  818.91295866,  391.35169351]]))
4.459919839813938
(5.109835051139639, 0.1639289058884125, 3, array([[ 385.29922796, 9050.41345675, 5598.27880624, 7015.00850905],
       [  35.70077204,  838.58654325,  518.72119376,  649.99149095]]))
5.109835051139639
(7.146005168709037, 0.21000622162196161, 5, array([[1802.94413083, 2607.40498921, 2546.08658476, 3684.59546738,
        4049.76029387, 7358.20853395],
       [ 167.05586917,  241.59501079,  235.91341524,  341.40453262,
         375.23970613,  681.79146605]]))
7.146005168709037
(0.24597132878701172, 0.6199261840025831, 1, array([[11970.81686867, 10078.18313133],
       [ 1109.18313133,   933.81686867]]))
0.24597132878701172
(10.198824338818103, 0.037208436025114415, 4, array([[4274.89951021, 3835.60347833, 4403.94271957, 4500.03872655,
        5034.51556533],
       [ 396.10048979,  355.39652167,  408.05728043,  416.96127345,
         466.48443467]]))
10.198824338818103
(4.459919839813938, 0.10753273997164702, 2, array([[8987.26465217,  832.73534783],
       [8838.08704134,  818.91295866],
       [4223.64830649,  391.35169351]]))
4.459919839813938
(48184.0, 0.0, 4, array([[4002.6730865 , 3936.23360452, 1881.09330898],
       [3936.23360452, 3870.89693674, 1849.86945874],
       [1881.09330898, 1849.86945874,  884.03723228]]))
48184.0
(1476.7108763085037, 0.0, 6, array([[ 171.60136145, 4030.7977752 , 2493.31479329, 3124.28607006],
       [ 168.75298854, 3963.89145775, 2451.92881454, 3072.42673917],
       [  80.64565001, 1894.31076706, 1171.75639216, 1468.28719077]]))
1476.7108763085037
(34564.30047999082, 0.0, 10, array([[ 802.9802424 , 1161.26432011, 1133.95483978, 1641.01444463,
        1803.64851403, 3277.13763905],
       [ 789.65175162, 1141.98875145, 1115.13257513, 1613.77561016,
        1773.71015275, 3222.74115889],
       [ 377.36800598,  545.74692844,  532.91258509,  771.20994521,
         847.64133322, 1540.12120206]]))
34564.30047999082
(0.09599994378975225, 0.9531338138654483, 2, array([[5331.46272622, 4488.53727378],
       [5242.96695999, 4414.03304001],
       [2505.5703138 , 2109.4296862 ]]))
0.09599994378975225
(5.8796993648250435, 0.6607053389212749, 8, array([[1903.91914328, 1708.26913498, 1961.39133322, 2004.18977254,
        2242.23061597],
       [1872.31641209, 1679.91395484, 1928.8346339 , 1970.92267143,
        2205.01232774],
       [ 894.76444463,  802.81691018,  921.77403287,  941.88755604,
        1053.75705628]]))
5.8796993648250435
(5.109835051139639, 0.1639289058884125, 3, array([[ 385.29922796,   35.70077204],
       [9050.41345675,  838.58654325],
       [5598.27880624,  518.72119376],
       [7015.00850905,  649.99149095]]))
5.109835051139639
(1476.7108763085034, 0.0, 6, array([[ 171.60136145,  168.75298854,   80.64565001],
       [4030.7977752 , 3963.89145775, 1894.31076706],
       [2493.31479329, 2451.92881454, 1171.75639216],
       [3124.28607006, 3072.42673917, 1468.28719077]]))
1476.7108763085034
(72276.0, 0.0, 9, array([[   7.35684044,  172.80711439,  106.89261996,  133.9434252 ],
       [ 172.80711439, 4059.12008135, 2510.83401129, 3146.23879296],
       [ 106.89261996, 2510.83401129, 1553.11676075, 1946.156608  ],
       [ 133.9434252 , 3146.23879296, 1946.156608  , 2438.66117383]]))
72276.0
(2329.252432443987, 0.0, 15, array([[  34.42512037,   49.78536444,   48.61456085,   70.35306326,
          77.32546073,  140.49643035],
       [ 808.62236427, 1169.42391665, 1141.9225469 , 1652.54499419,
        1816.32180807, 3300.16436992],
       [ 500.18636892,  723.36597211,  706.35455753, 1022.20828491,
        1123.51506724, 2041.36974929],
       [ 626.76614644,  906.4247468 ,  885.10833472, 1280.89365765,
        1407.83766395, 2557.96945044]]))
2329.252432443987
(2.6337907853234563, 0.4515963577185166, 3, array([[ 228.56881953,  192.43118047],
       [5368.92412419, 4520.07587581],
       [3321.03436826, 2795.96563174],
       [4161.47268803, 3503.52731197]]))
2.6337907853234563
(7.577828810163724, 0.8171908642831687, 12, array([[  81.62423211,   73.23638552,   84.08816205,   85.92300349,
          96.12821684],
       [1917.29698655, 1720.27224805, 1975.17300349, 2018.27216503,
        2257.98559688],
       [1185.97488793, 1064.10206708, 1221.77502906, 1248.43470862,
        1396.71330732],
       [1486.10389341, 1333.38929935, 1530.96380541, 1564.37012286,
        1750.17287896]]))
7.577828810163724
(7.146005168709037, 0.21000622162196161, 5, array([[1802.94413083,  167.05586917],
       [2607.40498921,  241.59501079],
       [2546.08658476,  235.91341524],
       [3684.59546738,  341.40453262],
       [4049.76029387,  375.23970613],
       [7358.20853395,  681.79146605]]))
7.146005168709037
(34564.30047999082, 0.0, 10, array([[ 802.9802424 ,  789.65175162,  377.36800598],
       [1161.26432011, 1141.98875145,  545.74692844],
       [1133.95483978, 1115.13257513,  532.91258509],
       [1641.01444463, 1613.77561016,  771.20994521],
       [1803.64851403, 1773.71015275,  847.64133322],
       [3277.13763905, 3222.74115889, 1540.12120206]]))
34564.30047999082
(2329.2524324439864, 0.0, 15, array([[  34.42512037,  808.62236427,  500.18636892,  626.76614644],
       [  49.78536444, 1169.42391665,  723.36597211,  906.4247468 ],
       [  48.61456085, 1141.9225469 ,  706.35455753,  885.10833472],
       [  70.35306326, 1652.54499419, 1022.20828491, 1280.89365765],
       [  77.32546073, 1816.32180807, 1123.51506724, 1407.83766395],
       [ 140.49643035, 3300.16436992, 2041.36974929, 2557.96945044]]))
2329.2524324439864
(120460.0, 0.0, 25, array([[ 161.08666777,  232.96239416,  227.48381205,  329.20554541,
         361.83172837,  657.42985223],
       [ 232.96239416,  336.90855886,  328.98547236,  476.09472024,
         523.27847418,  950.77038021],
       [ 227.48381205,  328.98547236,  321.24871327,  464.89838951,
         510.972522  ,  928.41109082],
       [ 329.20554541,  476.09472024,  464.89838951,  672.78250042,
         739.45915657, 1343.55968786],
       [ 361.83172837,  523.27847418,  510.972522  ,  739.45915657,
         812.74385688, 1476.714262  ],
       [ 657.42985223,  950.77038021,  928.41109082, 1343.55968786,
        1476.714262  , 2683.11472688]]))
120460.0
(3.1527025269774285, 0.6764569746865251, 5, array([[1069.55005811,  900.44994189],
       [1546.77569318, 1302.22430682],
       [1510.40013282, 1271.59986718],
       [2185.79113399, 1840.20886601],
       [2402.41573966, 2022.58426034],
       [4365.06724224, 3674.93275776]]))
3.1527025269774285
(20.61738430821564, 0.41995229076977536, 20, array([[ 381.94711938,  342.69757596,  393.47667275,  402.06251038,
         449.81612153],
       [ 552.3692097 ,  495.60679894,  569.04316786,  581.45994521,
         650.5208783 ],
       [ 539.37913   ,  483.95160219,  555.6609663 ,  567.785738  ,
         635.22256351],
       [ 780.56807239,  700.35555371,  804.13049975,  821.67698821,
         919.26888594],
       [ 857.9269052 ,  769.7648597 ,  883.82450606,  903.10995351,
        1010.37377553],
       [1558.80956334, 1398.6236095 , 1605.86418728, 1640.90486469,
        1835.7977752 ]]))
20.61738430821564
(0.24597132878701172, 0.6199261840025831, 1, array([[11970.81686867,  1109.18313133],
       [10078.18313133,   933.81686867]]))
0.24597132878701172
(0.09599994378975225, 0.9531338138654483, 2, array([[5331.46272622, 5242.96695999, 2505.5703138 ],
       [4488.53727378, 4414.03304001, 2109.4296862 ]]))
0.09599994378975225
(2.6337907853234563, 0.4515963577185166, 3, array([[ 228.56881953, 5368.92412419, 3321.03436826, 4161.47268803],
       [ 192.43118047, 4520.07587581, 2795.96563174, 3503.52731197]]))
2.6337907853234563
(3.1527025269774294, 0.6764569746865248, 5, array([[1069.55005811, 1546.77569318, 1510.40013282, 2185.79113399,
        2402.41573966, 4365.06724224],
       [ 900.44994189, 1302.22430682, 1271.59986718, 1840.20886601,
        2022.58426034, 3674.93275776]]))
3.1527025269774294
(24087.97047734713, 0.0, 1, array([[7101.37805081, 5978.62194919],
       [5978.62194919, 5033.37805081]]))
24087.97047734713
(3.3328769402891982, 0.5037401121046394, 4, array([[2535.97376723, 2275.37273784, 2612.52531961, 2669.53179479,
        2986.59638054],
       [2135.02623277, 1915.62726216, 2199.47468039, 2247.46820521,
        2514.40361946]]))
3.3328769402891982
(10.198824338818103, 0.037208436025114415, 4, array([[4274.89951021,  396.10048979],
       [3835.60347833,  355.39652167],
       [4403.94271957,  408.05728043],
       [4500.03872655,  416.96127345],
       [5034.51556533,  466.48443467]]))
10.198824338818103
(5.8796993648250435, 0.6607053389212749, 8, array([[1903.91914328, 1872.31641209,  894.76444463],
       [1708.26913498, 1679.91395484,  802.81691018],
       [1961.39133322, 1928.8346339 ,  921.77403287],
       [2004.18977254, 1970.92267143,  941.88755604],
       [2242.23061597, 2205.01232774, 1053.75705628]]))
5.8796993648250435
(7.577828810163725, 0.8171908642831686, 12, array([[  81.62423211, 1917.29698655, 1185.97488793, 1486.10389341],
       [  73.23638552, 1720.27224805, 1064.10206708, 1333.38929935],
       [  84.08816205, 1975.17300349, 1221.77502906, 1530.96380541],
       [  85.92300349, 2018.27216503, 1248.43470862, 1564.37012286],
       [  96.12821684, 2257.98559688, 1396.71330732, 1750.17287896]]))
7.577828810163725
(20.617384308215648, 0.41995229076977486, 20, array([[ 381.94711938,  552.3692097 ,  539.37913   ,  780.56807239,
         857.9269052 , 1558.80956334],
       [ 342.69757596,  495.60679894,  483.95160219,  700.35555371,
         769.7648597 , 1398.6236095 ],
       [ 393.47667275,  569.04316786,  555.6609663 ,  804.13049975,
         883.82450606, 1605.86418728],
       [ 402.06251038,  581.45994521,  567.785738  ,  821.67698821,
         903.10995351, 1640.90486469],
       [ 449.81612153,  650.5208783 ,  635.22256351,  919.26888594,
        1010.37377553, 1835.7977752 ]]))
20.617384308215648
(3.332876940289199, 0.5037401121046392, 4, array([[2535.97376723, 2135.02623277],
       [2275.37273784, 1915.62726216],
       [2612.52531961, 2199.47468039],
       [2669.53179479, 2247.46820521],
       [2986.59638054, 2514.40361946]]))
3.332876940289199
(96368.0, 0.0, 16, array([[ 905.62182467,  812.55856716,  932.95915657,  953.31674415,
        1066.54370745],
       [ 812.55856716,  729.05865017,  837.08666777,  855.35227461,
         956.94384028],
       [ 932.95915657,  837.08666777,  961.12170015,  982.09380707,
        1098.73866844],
       [ 953.31674415,  855.35227461,  982.09380707, 1003.52353478,
        1122.71363938],
       [1066.54370745,  956.94384028, 1098.73866844, 1122.71363938,
        1256.06014445]]))
96368.0

In [21]:
df

,Location_type,WH_capacity_size,zone,WH_regional_zone,wh_owner_type,approved_wh_govt_certificate
Location_type,1.0,0.00,0.00,0.00,0.0,0.0
WH_capacity_size,0.0,1.00,0.03,0.72,0.0,0.0
zone,0.0,0.03,1.00,0.03,0.0,0.0
WH_regional_zone,0.0,0.72,0.03,1.00,0.0,0.0
wh_owner_type,0.0,0.00,0.00,0.00,1.0,0.0
approved_wh_govt_certificate,0.0,0.00,0.00,0.00,0.0,1.0

In [1]:
from scipy import stats

In [ ]:
result = stats.kruskal(data_group1, data_group2, data_group3)

In [ ]:
stats.kruskal(group1, group2, group3)